<!-- https://stackoverflow.com/questions/42063686/cant-bind-to-ngif-since-it-isnt-a-known-property-of-div-in-production-buil
Property binding ngIf not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations
이런 오류가 발생할 경우 .... 위 링크로.. 
 -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of todoList"
        [class.selected]="hero === selectedTodo" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span><a routerLink="/todo-detail">{{hero.name}}</a>
    </li>
</ul>
