<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- The definition of the Root Spring Container shared by all Servlets and 
		Filters -->
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:/config/logger/logback.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/config/spring/context-*.xml</param-value>
	</context-param>

	<error-page>
		<error-code>400</error-code>
		<location>/error/400</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/405</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/error/406</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error/408</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/error/409</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/error/413</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error/414</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error/415</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>
	<error-page>
		<location>/error</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>